.card-header {
  background: linear-gradient(to right, #343a40, #212529);
  color: white;
  border-bottom: 0;
}

.btn-primary {
  background: linear-gradient(to right, #4e4e50, #232526);
  border: none;
}

.btn-primary:hover {
  background: #343a40;
  color: #fff;
}