<div class="container">
  <h3 class="mt-5">Sales Bar Chart</h3>
  <div style="height: 400px; width: 100%;">
    <canvas #salesChart></canvas>
  </div>

  <h3 class="mt-5">Sales Data</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Sales Date</th>
        <th>Total Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let group of groupedSales">
        <td>{{ group.salesdate | date: 'MM/dd/yyyy' }}</td>
        <td>{{ group.totalprice | currency }}</td>
      </tr>
    </tbody>
  </table>
</div>
