<div class="container mt-5">
  <h3 class="mb-4 text-center">
    <i class="bi bi-plus-circle-fill text-primary"></i> Add New Product
  </h3>

  <form [formGroup]="formGroup" (ngSubmit)="addProduct()" class="row g-3">

    <div class="col-md-6">
      <label class="form-label"><i class="bi bi-box-seam me-2"></i>Product Name</label>
      <input formControlName="name" type="text" class="form-control" placeholder="Enter product name" />
    </div>

    <div class="col-md-6">
      <label class="form-label"><i class="bi bi-tags me-2"></i>Category</label>
      <select formControlName="category" class="form-select">
        <option value="Laptop">Laptop</option>
        <option value="Accessory">Accessory</option>
      </select>
    </div>

    <div class="col-md-6">
      <label class="form-label"><i class="bi bi-building me-2"></i>Brand</label>
      <input formControlName="brand" type="text" class="form-control" placeholder="Enter brand" />
    </div>

    <div class="col-md-6">
      <label class="form-label"><i class="bi bi-cpu-fill me-2"></i>Model</label>
      <input formControlName="model" type="text" class="form-control" placeholder="Enter model" />
    </div>

    <div class="col-md-6">
      <label class="form-label"><i class="bi bi-boxes me-2"></i>quantity</label>
      <input type="number" formControlName="quantity" class="form-control" placeholder="Enter stock quantity" />
    </div>

    <div class="col-md-6">
      <label class="form-label"><i class="bi bi-currency-dollar me-2"></i>Price</label>
      <input formControlName="price" type="number" class="form-control" placeholder="Enter price" />
    </div>

    <div class="col-12">
      <label class="form-label"><i class="bi bi-card-text me-2"></i>Details</label>
      <textarea formControlName="details" class="form-control" rows="3" placeholder="Enter product details"></textarea>
    </div>

    <div class="col-12 text-center">
      <button type="submit" class="btn btn-primary px-5" [disabled]="formGroup.invalid">
        <i class="bi bi-save me-2"></i>Save Product
      </button>
    </div>
  </form>
</div>
